*{
    margin: 0;
    padding: 0;
    
}
.fixed-size {
    height: 200px;
    width: 300px;
    object-fit: cover;
}

body {
    background-color: #ffeeb7;
    background-image: url(https://images.unsplash.com/photo-1500382017468-9049fed747ef?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter:  blur(10px);
    
}

.card {
    border-radius: 2%;
    backdrop-filter: blur(14px);
    background-color: rgba(0, 0, 0, 0.349);
}
.card:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.card-body {
    align-items: center;
    text-align: center;
}